@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  font-family: "Outfit", serif;
}

.container {
  display: flex;
  /* justify-content:  center; */
  padding: 2rem 0;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.first-text {
  color: #353434;
  font-size: 1.2rem;
}
.second-text {
  font-size: 2rem;
  font-weight: 700;
}
.second-text-span {
  color: rgb(10, 155, 75);
}

.section-second {
  padding: 2rem 0 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
}
/* // active class cass  */
.card {
  overflow: hidden;
}

.card {
  background-color: #c33241;
  overflow: hidden;
  width: 35rem;
  height: 26rem;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #f9ebec;
  cursor: pointer;
  position: relative;
}

.card-btn {
  border: none;
  background-color: transparent;
  text-align: right;
  color: #f9ebec;
  font-weight: 600;
  font-size: 0.9rem;
  position: relative;
}

.card-tools {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  gap: 2rem;
  position: relative;
}
.image {
  width: 5rem;
}
.card-digit {
  font-family: "Poppins", serif;
  font-size: 8rem;
}

.card-digit-and-symbol {
  display: flex;
  line-height: 6rem;
  position: relative;
}

.symbol {
  font-size: 4rem;
  font-weight: 700;
  position: absolute;
  top: -3rem;
  right: -2rem;
}

.active .card-info-area {
  display: flex;
  gap: 3rem;
  padding: 0 2rem;
  position: relative;
}

.active .card-info-area .card-textarea {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.active .card-info-area .card-textarea .card-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.active .card-info-area .card-textarea .card-desc {
  text-align: left;
  font-size: 0.9rem;
}

/* /// inactive card  */

.inactive.card {
  width: 15rem;
  border-radius: 1rem;
  color: #c33241;
  padding: 2rem;
  height: 26rem;
  position: relative;
}

.inactive.card.card-bg {
  background-color: #f9ebec;
}
.inactive .card-btn {
  display: none;
}

.inactive .card-tools {
  display: none;
}
.inactive .card-info-area {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.card-info-animation {
  /* background-color: blue; */
  display: flex;
  /* gap: 2rem; */
  /* padding: 2rem 0 0 0; */
  position: relative;
  justify-content: center;
  align-items: center;
}

.card-info-animation .card-textarea .card-title {
  animation: titleanimation 0.6s forwards;
}

@keyframes titleanimation {
  0% {
  }
  100% {
    color: #c33241;
    font-size: 2rem;
    font-weight: 700;
  }
}
.card-info-animation .card-textarea .card-desc {
  animation: carddecs 0.5s forwards;
}

@keyframes carddecs {
  0% {
  }
  100% {
    height: 15rem;
    /* width: 10rem; */
    font-size: 1.2rem;
  }
}

.card-info-animation .card-textarea {
  animation: textarea 0.8s forwards;
  position: absolute;
}
@keyframes textarea {
  0% {
    right: -10rem;
    transform: rotate(0deg);
  }
  25% {
    /* transform: translate(-20px, 50px); */
    /* transform: rotate(-45deg) */
  }
  100% {
    top: -23rem;
    right: -12rem;
    transform: rotate(-90deg);
    /* text-align: justify; */
    /* writing-mode: vertical-rl; */
    /* rotate: calc(180deg); */
  }
}

.inactive .card-info-area .card-textarea {
  writing-mode: vertical-rl;
  rotate: calc(180deg);
}

.inactive .card-info-area .card-textarea .card-title {
  color: #c33241;
  font-size: 2rem;
  font-weight: 700;
}

.inactive .card-info-area .card-textarea .card-desc {
  height: 15rem;
  font-size: 1.2rem;
}

/* ///// animation  from active to inactive  */

.active.card,
.inactive.card {
  transition: all 0.8s ease;
}

.bg-none {
  display: none;
}

.bg-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  animation: bgcolor 0.8s forwards;
}

.card-tools-animation {
  animation: toolsOut 0.2s forwards;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  gap: 2rem;
  position: relative;
}

@keyframes toolsOut {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(200px, 0);
    display: none;
  }
}

.card-btn-animation {
  border: none;
  background-color: transparent;
  text-align: right;
  color: #f9ebec;
  font-weight: 600;
  font-size: 0.9rem;
  position: relative;
}

/* ///// animation  from inactive to active  */

.bg-overlay-active {
  position: absolute;

  height: 100%;
  width: 100%;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  animation: bgcolor 0.8s forwards reverse;
}

@keyframes bgcolor {
  0% {
    height: 0;
    width: 0;
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 20rem;
    border-top-right-radius: 20rem;
    border-bottom-right-radius: 20rem;
  }

  100% {
    border-radius: 1rem;
    height: 100%;
    width: 100%;

    transform: scale(1.3);
    background-color: #f9ebec;
  }
}
